@{
    /**
    * Ryan Boldy
    * NETD
    * 12/12/2022
    * Lab 5
*/
    //Buyer homepage. Displays all buyers.
}

@model IEnumerable<Lab5.Models.Buyer>

@{
    ViewData["Title"] = "Buyers";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuyerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyerName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BuyerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BuyerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BuyerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
